<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>

<mat-table [dataSource]="Data" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="Mood">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Mood</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.Mood}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Sight">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Sight</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.Impression.Sight}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Sound">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Sound</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.Impression.Sound}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Smell">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Smell</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.Impression.Smell}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Use">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Use</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.Use}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.Type}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Details">
        <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <ul class="fa-ul">
                <li *ngFor="let value of element.Details">
                    <i class="fa-li fa fa-level-up-alt fa-rotate-90"></i> {{ value }}
                </li>
            </ul>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Props">
        <mat-header-cell *matHeaderCellDef>Props</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <ul class="fa-ul">
                <li *ngFor="let value of element.Props">
                    <i class="fa-li fa fa-level-up-alt fa-rotate-90"></i> {{ value }}
                </li>
            </ul>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Items">
        <mat-header-cell *matHeaderCellDef>Items</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <ul class="fa-ul">
                <li *ngFor="let value of element.Items">
                    <i class="fa-li fa fa-level-up-alt fa-rotate-90"></i> {{ value }}
                </li>
            </ul>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="Headers"></mat-header-row>
    <mat-row *matRowDef="let row; columns: Headers;"></mat-row>
</mat-table>