<h1>
    Tabletop Tools
</h1>

<ul class="fa-ul">
    <li>
        <span class="fa-li">
            <i class="fas fa-level-up-alt fa-xs fa-rotate-90"></i>
        </span>
        <a [routerLink]="['/blades']">Blades in the Dark</a>
    </li>
    <li>
        <span class="fa-li">
            <i class="fas fa-level-up-alt fa-xs fa-rotate-90"></i>
        </span> Star Wars FFG
        <ul class="fa-ul">
            <li>
                <span class="fa-li">
                    <i class="fas fa-level-up-alt fa-xs fa-rotate-90"></i>
                </span>
                <a href="https://docs.google.com/spreadsheets/d/12hrEjoS2VpsG-gFT4geq9ftamqVIp9xUcj7Zun3CccM/edit?usp=sharing" target="_blank">SWRPG Ultimate GM Database</a>
            </li>
        </ul>
    </li>
    <li>
        <span class="fa-li">
            <i class="fas fa-level-up-alt fa-xs fa-rotate-90"></i>
        </span> Dungeons and Dragons 5th Edition
        <ul class="fa-ul">
            <li>
                <span class="fa-li">
                    <i class="fas fa-level-up-alt fa-xs fa-rotate-90"></i>
                </span>
                <a href="https://donjon.bin.sh" target="_blank">donjon</a>
            </li>
        </ul>
    </li>
</ul>