<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>

<mat-table [dataSource]="Data" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="Aspect">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Aspect</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.Type.Aspect}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Affinity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Affinity</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.Type.Affinity}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Desire">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Desire</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.Desire}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="SummonedHorrors">
        <mat-header-cell *matHeaderCellDef>Summoned Horrors</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <ul class="fa-ul">
                <li *ngFor="let value of element.SummonedHorrors">
                    <i class="fa-li fa fa-level-up-alt fa-rotate-90"></i> {{ value }}
                </li>
            </ul>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Features">
        <mat-header-cell *matHeaderCellDef>Features</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <ul class="fa-ul">
                <li *ngFor="let value of element.Features">
                    <i class="fa-li fa fa-level-up-alt fa-rotate-90"></i> {{ value }}
                </li>
            </ul>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="Headers"></mat-header-row>
    <mat-row *matRowDef="let row; columns: Headers;"></mat-row>
</mat-table>